<mat-toolbar color="primary">
  <button
    mat-fab
    color="accent"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span style="margin-left: 1%">My Application</span>
  <form style="margin-left: 35%">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
    </mat-form-field>
  </form>
</mat-toolbar>
<!-- <p>
    Items selected: {{items.selectedOptions.selected.length}}
  </p> -->
<div class="mat-elevation-z8">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  <h2 class="sticky-div">
    <span
      matBadge="{{ items.selectedOptions.selected.length }}"
      matBadgeSize="large"
      [hidden]="!items.selectedOptions.selected.length"
      >items selected
    </span>
  </h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <mat-selection-list #items>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ element.title }} </mat-card-title>
              <mat-card-subtitle>{{ element.category }} </mat-card-subtitle>
              <mat-list-option></mat-list-option>
            </mat-card-header>

            <mat-card-content>
              <img
                mat-card-image
                src="{{ element.image }}"
                alt="Photo of a Shiba Inu"
              />
              <h3>
                {{ element.description }}
              </h3>
            </mat-card-content>
            <mat-card-actions>
              <p>
                $ <strong>{{ element.price }}</strong>
              </p>
              <!-- <button mat-button>SHARE</button> -->
              <button mat-button>Add to cart</button>
            </mat-card-actions>
          </mat-card>
        </td>
      </ng-container>
    </mat-selection-list>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
