<mat-toolbar color="primary">
  <span>My Application</span>

  <form style="margin-left: 50px;">
    <mat-form-field >
      <input type="text" name="searchbar" placeholder="Search" matInput [(ngModel)]="searchText" >
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="products">
 
    <mat-grid-list cols="2" rowHeight="2:1">
    <div class="product" *ngFor="let item of products | filter:searchText">
        <mat-grid-tile>
        <mat-card class="example-card">
          <div  class="card-container-left">
            <img mat-card-image src={{item.image}} alt="">
          </div>
          <div  class="card-container-right">
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
              <p>$ <strong>{{item.price}}</strong></p>
              <mat-card-actions>
                <button mat-button>Add to cart</button>
              </mat-card-actions>
            </div>
          </mat-card>
        </mat-grid-tile>
    </div>
    </mat-grid-list>    

</div>



  